<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/china.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/themes/macarons.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/jquery.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/jquery-ui.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/ResizeSensor.js"></script>

            <link rel="stylesheet"  href="https://assets.pyecharts.org/assets/jquery-ui.css">

</head>
<body>
    <style>.box {  }; </style>
        
    <div class="box">
                <div id="3514ed0a973749f8b9afb21b5a3b747f" class="chart-container" style="position: absolute; width: 900px; height: 500px; top: 87px; left: 990px;"></div>
    <script>
        var chart_3514ed0a973749f8b9afb21b5a3b747f = echarts.init(
            document.getElementById('3514ed0a973749f8b9afb21b5a3b747f'), 'macarons', {renderer: 'canvas'});
        var option_3514ed0a973749f8b9afb21b5a3b747f = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "bar",
            "name": "\u8bc4\u8bba\u6570",
            "legendHoverLink": true,
            "data": [
                1000000,
                1000000,
                1000000,
                1000000,
                1000000,
                1000000,
                1000000,
                1000000,
                1000000,
                1000000
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u4ef7\u683c",
            "legendHoverLink": true,
            "data": [
                1399.0,
                899.0,
                1999.0,
                1699.0,
                899.0,
                1799.0,
                2199.0,
                649.0,
                1699.0,
                1299.0
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u8bc4\u8bba\u6570",
                "\u4ef7\u683c"
            ],
            "selected": {
                "\u8bc4\u8bba\u6570": true,
                "\u4ef7\u683c": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u5c0f\u7c73\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                "\u5c0f\u7c73\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                "\u5c0f\u7c73\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                "\u5c0f\u7c73\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                "\u5c0f\u7c73\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                "\u5c0f\u7c73\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                "\u5c0f\u7c73\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                "\u5c0f\u7c73\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                "\u5c0f\u7c73\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                "\u5c0f\u7c73\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u8bc4\u8bba\u6570\u91cf\u524d\u5341\u53ca\u5176\u4ef7\u683c",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_3514ed0a973749f8b9afb21b5a3b747f.setOption(option_3514ed0a973749f8b9afb21b5a3b747f);
    </script>
<br/>                <div id="51144d2ddfe844bfbea59f7c87b69468" class="chart-container" style="position: absolute; width: 900px; height: 500px; top: 637px; left: 992px;"></div>
    <script>
        var chart_51144d2ddfe844bfbea59f7c87b69468 = echarts.init(
            document.getElementById('51144d2ddfe844bfbea59f7c87b69468'), 'macarons', {renderer: 'canvas'});
        var option_51144d2ddfe844bfbea59f7c87b69468 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "map",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "mapType": "china",
            "data": [
                {
                    "name": "\u56db\u5ddd",
                    "value": 239.0
                },
                {
                    "name": "\u6d59\u6c5f",
                    "value": 231.0
                },
                {
                    "name": "\u798f\u5efa",
                    "value": 203.0
                },
                {
                    "name": "\u6c5f\u82cf",
                    "value": 185.0
                },
                {
                    "name": "\u6e56\u5357",
                    "value": 152.0
                },
                {
                    "name": "\u5c71\u4e1c",
                    "value": 131.0
                },
                {
                    "name": "\u5b89\u5fbd",
                    "value": 100.0
                },
                {
                    "name": "\u5e7f\u4e1c",
                    "value": 89.0
                },
                {
                    "name": "\u6cb3\u5317",
                    "value": 87.0
                },
                {
                    "name": "\u6e56\u5317",
                    "value": 84.0
                },
                {
                    "name": "\u5409\u6797",
                    "value": 75.0
                },
                {
                    "name": "\u4e0a\u6d77",
                    "value": 70.0
                },
                {
                    "name": "\u6c5f\u897f",
                    "value": 64.0
                },
                {
                    "name": "\u5e7f\u897f",
                    "value": 64.0
                },
                {
                    "name": "\u8d35\u5dde",
                    "value": 64.0
                },
                {
                    "name": "\u5317\u4eac",
                    "value": 63.0
                },
                {
                    "name": "\u4e91\u5357",
                    "value": 53.0
                },
                {
                    "name": "\u91cd\u5e86",
                    "value": 49.0
                },
                {
                    "name": "\u6cb3\u5357",
                    "value": 48.0
                },
                {
                    "name": "\u9655\u897f",
                    "value": 38.0
                },
                {
                    "name": "\u5c71\u897f",
                    "value": 37.0
                },
                {
                    "name": "\u8fbd\u5b81",
                    "value": 33.0
                },
                {
                    "name": "\u65b0\u7586",
                    "value": 25.0
                },
                {
                    "name": "\u5185\u8499\u53e4",
                    "value": 23.0
                },
                {
                    "name": "\u9ed1\u9f99\u6c5f",
                    "value": 20.0
                },
                {
                    "name": "\u5929\u6d25",
                    "value": 19.0
                },
                {
                    "name": "\u7518\u8083",
                    "value": 13.0
                },
                {
                    "name": "\u6d77\u5357",
                    "value": 9.0
                },
                {
                    "name": "\u9752\u6d77",
                    "value": 7.0
                },
                {
                    "name": "\u5b81\u590f",
                    "value": 4.0
                },
                {
                    "name": "\u897f\u85cf",
                    "value": 0.0
                }
            ],
            "roam": false,
            "aspectScale": 0.75,
            "nameProperty": "name",
            "selectedMode": false,
            "zoom": 1,
            "mapValueCalculation": "sum",
            "showLegendSymbol": false,
            "emphasis": {},
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u4e2a\u4e2a\u7701\u4efd\u7684\u9500\u91cf",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 0,
        "max": 200,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    }
};
        chart_51144d2ddfe844bfbea59f7c87b69468.setOption(option_51144d2ddfe844bfbea59f7c87b69468);
    </script>
<br/>                <div id="d299db7863614b688400c0fa279c5108" class="chart-container" style="position: absolute; width: 1726px; height: 904px; top: 1155px; left: 124px;"></div>
    <script>
        var chart_d299db7863614b688400c0fa279c5108 = echarts.init(
            document.getElementById('d299db7863614b688400c0fa279c5108'), 'macarons', {renderer: 'canvas'});
        var option_d299db7863614b688400c0fa279c5108 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "pie",
            "name": "\u5e74\u4efd",
            "clockwise": true,
            "data": [
                {
                    "name": "\u5c0f\u7c73\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                    "value": 25
                },
                {
                    "name": "\u6d77\u4fe1\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                    "value": 23
                },
                {
                    "name": "\u521b\u7ef4\u7535\u89c6\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                    "value": 18
                },
                {
                    "name": "\u957f\u8679\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                    "value": 10
                },
                {
                    "name": "TCL\u4eac\u4e1c\u81ea\u8425\u5b98\u65b9\u65d7\u8230\u5e97",
                    "value": 9
                },
                {
                    "name": "\u5eb7\u4f73\u7535\u89c6\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                    "value": 8
                },
                {
                    "name": "\u521b\u7ef4\u9177\u5f00\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                    "value": 7
                },
                {
                    "name": "SONY\u4eac\u4e1c\u81ea\u8425\u5b98\u65b9\u65d7\u8230\u5e97",
                    "value": 6
                },
                {
                    "name": "FFALCON \u96f7\u9e1f\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                    "value": 6
                },
                {
                    "name": "\u534e\u4e3a\u4eac\u4e1c\u81ea\u8425\u5b98\u65b9\u65d7\u8230\u5e97",
                    "value": 5
                },
                {
                    "name": "\u6d77\u5c14\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                    "value": 3
                },
                {
                    "name": "\u4e09\u661f\u5bb6\u7535\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                    "value": 2
                },
                {
                    "name": "\u8363\u8000\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                    "value": 1
                },
                {
                    "name": "OPPO\u4eac\u4e1c\u81ea\u8425\u5b98\u65b9\u65d7\u8230\u5e97",
                    "value": 1
                },
                {
                    "name": "D&Q\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                    "value": 1
                },
                {
                    "name": "\u98de\u5229\u6d66\u7535\u89c6\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                    "value": 1
                },
                {
                    "name": "\u4e1c\u829d\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                    "value": 1
                },
                {
                    "name": "TCL\u96c6\u56e2\u5b98\u65b9\u65d7\u8230\u5e97",
                    "value": 1
                },
                {
                    "name": "LG\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                    "value": 1
                }
            ],
            "radius": "70%",
            "center": [
                "50%",
                "50%"
            ],
            "roseType": "radius",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "formatter": "{a} <br/>{b}:{c} ({d}%)",
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u5c0f\u7c73\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                "\u6d77\u4fe1\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                "\u521b\u7ef4\u7535\u89c6\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                "\u957f\u8679\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                "TCL\u4eac\u4e1c\u81ea\u8425\u5b98\u65b9\u65d7\u8230\u5e97",
                "\u5eb7\u4f73\u7535\u89c6\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                "\u521b\u7ef4\u9177\u5f00\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                "SONY\u4eac\u4e1c\u81ea\u8425\u5b98\u65b9\u65d7\u8230\u5e97",
                "FFALCON \u96f7\u9e1f\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                "\u534e\u4e3a\u4eac\u4e1c\u81ea\u8425\u5b98\u65b9\u65d7\u8230\u5e97",
                "\u6d77\u5c14\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                "\u4e09\u661f\u5bb6\u7535\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                "\u8363\u8000\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                "OPPO\u4eac\u4e1c\u81ea\u8425\u5b98\u65b9\u65d7\u8230\u5e97",
                "D&Q\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                "\u98de\u5229\u6d66\u7535\u89c6\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                "\u4e1c\u829d\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                "TCL\u96c6\u56e2\u5b98\u65b9\u65d7\u8230\u5e97",
                "LG\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97"
            ],
            "selected": {}
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    }
};
        chart_d299db7863614b688400c0fa279c5108.setOption(option_d299db7863614b688400c0fa279c5108);
    </script>
<br/>                <div id="09eeda32f6b84818a39ac2ce3a2f3c4c" class="chart-container" style="position: absolute; width: 900px; height: 500px; top: 87px; left: 68px;"></div>
    <script>
        var chart_09eeda32f6b84818a39ac2ce3a2f3c4c = echarts.init(
            document.getElementById('09eeda32f6b84818a39ac2ce3a2f3c4c'), 'macarons', {renderer: 'canvas'});
        var option_09eeda32f6b84818a39ac2ce3a2f3c4c = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "wordCloud",
            "name": "\u65d7\u8230\u5e97\u4e91\u56fe",
            "shape": "circle",
            "rotationRange": [
                -90,
                90
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                20,
                45
            ],
            "data": [
                {
                    "name": "\u5c0f\u7c73\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                    "value": 25,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(89,71,38)"
                        }
                    }
                },
                {
                    "name": "\u6d77\u4fe1\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                    "value": 23,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(74,123,157)"
                        }
                    }
                },
                {
                    "name": "\u521b\u7ef4\u7535\u89c6\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                    "value": 18,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(69,0,131)"
                        }
                    }
                },
                {
                    "name": "\u957f\u8679\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                    "value": 10,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(5,7,94)"
                        }
                    }
                },
                {
                    "name": "TCL\u4eac\u4e1c\u81ea\u8425\u5b98\u65b9\u65d7\u8230\u5e97",
                    "value": 9,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(131,151,134)"
                        }
                    }
                },
                {
                    "name": "\u5eb7\u4f73\u7535\u89c6\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                    "value": 8,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(108,120,6)"
                        }
                    }
                },
                {
                    "name": "\u521b\u7ef4\u9177\u5f00\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                    "value": 7,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(100,156,18)"
                        }
                    }
                },
                {
                    "name": "SONY\u4eac\u4e1c\u81ea\u8425\u5b98\u65b9\u65d7\u8230\u5e97",
                    "value": 6,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(28,19,75)"
                        }
                    }
                },
                {
                    "name": "FFALCON \u96f7\u9e1f\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                    "value": 6,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(93,40,158)"
                        }
                    }
                },
                {
                    "name": "\u534e\u4e3a\u4eac\u4e1c\u81ea\u8425\u5b98\u65b9\u65d7\u8230\u5e97",
                    "value": 5,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(90,134,61)"
                        }
                    }
                },
                {
                    "name": "\u6d77\u5c14\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                    "value": 3,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(125,0,97)"
                        }
                    }
                },
                {
                    "name": "\u4e09\u661f\u5bb6\u7535\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(145,109,152)"
                        }
                    }
                },
                {
                    "name": "\u8363\u8000\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(42,37,42)"
                        }
                    }
                },
                {
                    "name": "OPPO\u4eac\u4e1c\u81ea\u8425\u5b98\u65b9\u65d7\u8230\u5e97",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(154,20,53)"
                        }
                    }
                },
                {
                    "name": "D&Q\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(153,42,121)"
                        }
                    }
                },
                {
                    "name": "\u98de\u5229\u6d66\u7535\u89c6\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(62,65,151)"
                        }
                    }
                },
                {
                    "name": "\u4e1c\u829d\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(6,98,56)"
                        }
                    }
                },
                {
                    "name": "TCL\u96c6\u56e2\u5b98\u65b9\u65d7\u8230\u5e97",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(148,83,57)"
                        }
                    }
                },
                {
                    "name": "LG\u4eac\u4e1c\u81ea\u8425\u65d7\u8230\u5e97",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(52,0,137)"
                        }
                    }
                }
            ],
            "drawOutOfBound": false,
            "textStyle": {
                "emphasis": {}
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u65d7\u8230\u5e97\u4e91\u56fe",
            "padding": 5,
            "itemGap": 10,
            "textStyle": {
                "fontSize": 23
            }
        }
    ]
};
        chart_09eeda32f6b84818a39ac2ce3a2f3c4c.setOption(option_09eeda32f6b84818a39ac2ce3a2f3c4c);
    </script>
<br/>                <div id="dec55c92a4cf46f7ab5c486939cb4c79" class="chart-container" style="position: absolute; width: 900px; height: 500px; top: 637px; left: 68px;"></div>
    <script>
        var chart_dec55c92a4cf46f7ab5c486939cb4c79 = echarts.init(
            document.getElementById('dec55c92a4cf46f7ab5c486939cb4c79'), 'macarons', {renderer: 'canvas'});
        var option_dec55c92a4cf46f7ab5c486939cb4c79 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "line",
            "name": "\u4ef7\u683c",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    0,
                    1399.0
                ],
                [
                    1,
                    899.0
                ],
                [
                    2,
                    1999.0
                ],
                [
                    3,
                    1699.0
                ],
                [
                    4,
                    899.0
                ],
                [
                    5,
                    1799.0
                ],
                [
                    6,
                    2199.0
                ],
                [
                    7,
                    649.0
                ],
                [
                    8,
                    1699.0
                ],
                [
                    9,
                    1299.0
                ],
                [
                    10,
                    599.0
                ],
                [
                    11,
                    1999.0
                ],
                [
                    12,
                    3699.0
                ],
                [
                    13,
                    1199.0
                ],
                [
                    14,
                    898.0
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u4ef7\u683c"
            ],
            "selected": {
                "\u4ef7\u683c": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                0,
                1,
                2,
                3,
                4,
                5,
                6,
                7,
                8,
                9,
                10,
                11,
                12,
                13,
                14
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u8bc4\u8bba\u6570\u91cf\u524d\u524d\u5341\u4e94\u4ef7\u683c",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_dec55c92a4cf46f7ab5c486939cb4c79.setOption(option_dec55c92a4cf46f7ab5c486939cb4c79);
    </script>
<br/>                <div id="74cf612e8cd7454cbf2938d3e1bdcea2" class="chart-container" style="position: absolute; width: 900px; height: 500px; top: 13px; left: 383px;"></div>
    <script>
        var chart_74cf612e8cd7454cbf2938d3e1bdcea2 = echarts.init(
            document.getElementById('74cf612e8cd7454cbf2938d3e1bdcea2'), 'macarons', {renderer: 'canvas'});
        var option_74cf612e8cd7454cbf2938d3e1bdcea2 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u53ef\u89c6\u5316\u5b9e\u8bad",
            "subtext": "\u5f20\u51ef\u6587,\u664b\u83f1\u6f2a,\u6f58\u6d2a\u535a,\u90ed\u5b50\u51dd,\u53f2\u4ec1\u6862",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_74cf612e8cd7454cbf2938d3e1bdcea2.setOption(option_74cf612e8cd7454cbf2938d3e1bdcea2);
    </script>
<br/>    </div>
    <script>
            $('#3514ed0a973749f8b9afb21b5a3b747f').css('border-style', 'dashed').css('border-width', '0px');$("#3514ed0a973749f8b9afb21b5a3b747f>div:nth-child(1)").width("100%").height("100%");
            new ResizeSensor(jQuery('#3514ed0a973749f8b9afb21b5a3b747f'), function() { chart_3514ed0a973749f8b9afb21b5a3b747f.resize()});
            $('#51144d2ddfe844bfbea59f7c87b69468').css('border-style', 'dashed').css('border-width', '0px');$("#51144d2ddfe844bfbea59f7c87b69468>div:nth-child(1)").width("100%").height("100%");
            new ResizeSensor(jQuery('#51144d2ddfe844bfbea59f7c87b69468'), function() { chart_51144d2ddfe844bfbea59f7c87b69468.resize()});
            $('#d299db7863614b688400c0fa279c5108').css('border-style', 'dashed').css('border-width', '0px');$("#d299db7863614b688400c0fa279c5108>div:nth-child(1)").width("100%").height("100%");
            new ResizeSensor(jQuery('#d299db7863614b688400c0fa279c5108'), function() { chart_d299db7863614b688400c0fa279c5108.resize()});
            $('#09eeda32f6b84818a39ac2ce3a2f3c4c').css('border-style', 'dashed').css('border-width', '0px');$("#09eeda32f6b84818a39ac2ce3a2f3c4c>div:nth-child(1)").width("100%").height("100%");
            new ResizeSensor(jQuery('#09eeda32f6b84818a39ac2ce3a2f3c4c'), function() { chart_09eeda32f6b84818a39ac2ce3a2f3c4c.resize()});
            $('#dec55c92a4cf46f7ab5c486939cb4c79').css('border-style', 'dashed').css('border-width', '0px');$("#dec55c92a4cf46f7ab5c486939cb4c79>div:nth-child(1)").width("100%").height("100%");
            new ResizeSensor(jQuery('#dec55c92a4cf46f7ab5c486939cb4c79'), function() { chart_dec55c92a4cf46f7ab5c486939cb4c79.resize()});
            $('#74cf612e8cd7454cbf2938d3e1bdcea2').css('border-style', 'dashed').css('border-width', '0px');$("#74cf612e8cd7454cbf2938d3e1bdcea2>div:nth-child(1)").width("100%").height("100%");
            new ResizeSensor(jQuery('#74cf612e8cd7454cbf2938d3e1bdcea2'), function() { chart_74cf612e8cd7454cbf2938d3e1bdcea2.resize()});
            var charts_id = ['3514ed0a973749f8b9afb21b5a3b747f','51144d2ddfe844bfbea59f7c87b69468','d299db7863614b688400c0fa279c5108','09eeda32f6b84818a39ac2ce3a2f3c4c','dec55c92a4cf46f7ab5c486939cb4c79','74cf612e8cd7454cbf2938d3e1bdcea2'];
function downloadCfg () {
    const fileName = 'chart_config.json'
    let downLink = document.createElement('a')
    downLink.download = fileName

    let result = []
    for(let i=0; i<charts_id.length; i++) {
        chart = $('#'+charts_id[i])
        result.push({
            cid: charts_id[i],
            width: chart.css("width"),
            height: chart.css("height"),
            top: chart.offset().top + "px",
            left: chart.offset().left + "px"
        })
    }

    let blob = new Blob([JSON.stringify(result)])
    downLink.href = URL.createObjectURL(blob)
    document.body.appendChild(downLink)
    downLink.click()
    document.body.removeChild(downLink)
}
    </script>
</body>
</html>
